<a href="https://colab.research.google.com/github/bbhdotin/MMCC8026_Group_1_F2F_12PM/blob/main/Nobel_data_clean_up.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#Mounting Gdrive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Creating a path for data to retreved from the 'MyDrive' folder of gdrive
# it is suggested to extract the files from shared GDrive and create a shortcut
# to your 'MyDrive' to maintain data and code consistency
path="/content/drive/MyDrive/MMCC8026_Group1_F2F_12PM_Data/Data-source/primary_data.csv"
df=pd.read_csv(path, sep=';')
df.head(10)

,Id,Firstname,Surname,Born,Died,Born country,Born country code,Born city,Died country,Died country code,...,Gender,Year,Category,Overall motivation,Motivation,Organization name,Organization city,Organization country,Geo Shape,Geo Point 2D
0,498,Sir Norman,Angell,1872-12-26,1967-10-07,United Kingdom,GB,Holbeach,United Kingdom,GB,...,male,1933,Peace,NaN,"""for having exposed by his pen the illusion of...",NaN,NaN,NaN,NaN,NaN
1,518,Philip,Noel-Baker,1889-11-01,1982-10-08,United Kingdom,GB,London,United Kingdom,GB,...,male,1959,Peace,NaN,"""for his longstanding contribution to the caus...",NaN,NaN,NaN,NaN,NaN
2,602,Thomas,Mann,1875-06-06,1955-08-12,Germany,DE,LÃ¼beck,Switzerland,CH,...,male,1929,Literature,NaN,"""principally for his great novel <I>Buddenbroo...",NaN,NaN,NaN,NaN,NaN
3,667,Octavio,Paz,1914-03-31,1998-04-19,Mexico,MX,Mexico City,Mexico,MX,...,male,1990,Literature,NaN,"""for impassioned writing with wide horizons ch...",NaN,NaN,NaN,NaN,NaN
4,670,Toni,Morrison,1931-02-18,2019-08-05,USA,US,Lorain OH,USA,US,...,female,1993,Literature,NaN,"""who in novels characterized by visionary forc...",NaN,NaN,NaN,NaN,NaN
5,709,Robert W.,Fogel,1927-07-01,2013-06-11,USA,US,New York NY,USA,US,...,male,1993,Economics,NaN,"""for having renewed research in economic histo...",University of Chicago,Chicago IL,USA,"{""coordinates"": [[[[-155.60651897, 20.13795556...","45.68753333949257, -112.49433391594509"
6,1009,Guido,Imbens,1963-09-03,NaN,the Netherlands,NL,Geldrop,NaN,NaN,...,male,2021,Economics,NaN,"""for their methodological contributions to the...",Stanford University,Stanford CA,USA,"{""coordinates"": [[[[-155.60651897, 20.13795556...","45.68753333949257, -112.49433391594509"
7,227,John C.,Kendrew,1917-03-24,1997-08-23,United Kingdom,GB,Oxford,United Kingdom,GB,...,male,1962,Chemistry,NaN,"""for their studies of the structures of globul...",MRC Laboratory of Molecular Biology,Cambridge,United Kingdom,NaN,NaN
8,278,Kary B.,Mullis,1944-12-28,2019-08-07,USA,US,Lenoir NC,USA,US,...,male,1993,Chemistry,"""for contributions to the developments of meth...","""for his invention of the polymerase chain rea...",NaN,NaN,NaN,NaN,NaN
9,418,Godfrey N.,Hounsfield,1919-08-28,2004-08-12,United Kingdom,GB,Newark,United Kingdom,GB,...,male,1979,Medicine,NaN,"""for the development of computer assisted tomo...",Central Research Laboratories EMI,London,United Kingdom,NaN,NaN

In [ ]:
#brief glance at the data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    1000 non-null   int64
 1   Firstname             1000 non-null   object
 2   Surname               968 non-null    object
 3   Born                  956 non-null    object
 4   Died                  670 non-null    object
 5   Born country          969 non-null    object
 6   Born country code     969 non-null    object
 7   Born city             967 non-null    object
 8   Died country          657 non-null    object
 9   Died country code     657 non-null    object
 10  Died city             651 non-null    object
 11  Gender                1000 non-null   object
 12  Year                  1000 non-null   int64
 13  Category              1000 non-null   object
 14  Overall motivation    23 non-null     object
 15  Motivation            1000 non-null   object
 16  Organization name     736 non-null    object
 17  Organization city     731 non-null    object
 18  Organization country  733 non-null    object
 19  Geo Shape             640 non-null    object
 20  Geo Point 2D          640 non-null    object
dtypes: int64(2), object(19)
memory usage: 164.2+ KB
None

In [ ]:
#deleting unnecessary data
df = df.drop('Geo Shape', axis=1)
df = df.drop('Geo Point 2D', axis=1)
df = df.drop('Overall motivation', axis=1)
df= df.drop('Organization city', axis=1)
df= df.drop('Organization country', axis=1)
df= df.drop('Organization name', axis=1)
df= df.drop ('Died country', axis=1)
df= df.drop ('Died country code', axis=1)
df= df.drop ('Died city', axis=1)

In [ ]:
df.head(10)

,Id,Firstname,Surname,Born,Died,Born country,Born country code,Born city,Gender,Year,Category,Motivation
0,498,Sir Norman,Angell,1872-12-26,1967-10-07,United Kingdom,GB,Holbeach,male,1933,Peace,"""for having exposed by his pen the illusion of..."
1,518,Philip,Noel-Baker,1889-11-01,1982-10-08,United Kingdom,GB,London,male,1959,Peace,"""for his longstanding contribution to the caus..."
2,602,Thomas,Mann,1875-06-06,1955-08-12,Germany,DE,LÃ¼beck,male,1929,Literature,"""principally for his great novel <I>Buddenbroo..."
3,667,Octavio,Paz,1914-03-31,1998-04-19,Mexico,MX,Mexico City,male,1990,Literature,"""for impassioned writing with wide horizons ch..."
4,670,Toni,Morrison,1931-02-18,2019-08-05,USA,US,Lorain OH,female,1993,Literature,"""who in novels characterized by visionary forc..."
5,709,Robert W.,Fogel,1927-07-01,2013-06-11,USA,US,New York NY,male,1993,Economics,"""for having renewed research in economic histo..."
6,1009,Guido,Imbens,1963-09-03,NaN,the Netherlands,NL,Geldrop,male,2021,Economics,"""for their methodological contributions to the..."
7,227,John C.,Kendrew,1917-03-24,1997-08-23,United Kingdom,GB,Oxford,male,1962,Chemistry,"""for their studies of the structures of globul..."
8,278,Kary B.,Mullis,1944-12-28,2019-08-07,USA,US,Lenoir NC,male,1993,Chemistry,"""for his invention of the polymerase chain rea..."
9,418,Godfrey N.,Hounsfield,1919-08-28,2004-08-12,United Kingdom,GB,Newark,male,1979,Medicine,"""for the development of computer assisted tomo..."

In [ ]:
#looking at birth year column data information
df['Born'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Born
Non-Null Count  Dtype
--------------  -----
956 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 7.9 KB

In [ ]:
#extracting birth year from the date time information
df['Born']= pd.to_datetime(df['Born'])
df['Born']

0     1872-12-26
1     1889-11-01
2     1875-06-06
3     1914-03-31
4     1931-02-18
         ...
995   1929-08-24
996   1923-08-16
997   1862-11-15
998   1890-02-10
999   1927-04-14
Name: Born, Length: 1000, dtype: datetime64[ns]

In [ ]:
#calculating the age of the winners when they received the award
df['Age']= (df['Year']-df['Born'].dt.year)
df['Age']

df.head(10)

,Id,Firstname,Surname,Born,Died,Born country,Born country code,Born city,Gender,Year,Category,Motivation,Age
0,498,Sir Norman,Angell,1872-12-26,1967-10-07,United Kingdom,GB,Holbeach,male,1933,Peace,"""for having exposed by his pen the illusion of...",61.0
1,518,Philip,Noel-Baker,1889-11-01,1982-10-08,United Kingdom,GB,London,male,1959,Peace,"""for his longstanding contribution to the caus...",70.0
2,602,Thomas,Mann,1875-06-06,1955-08-12,Germany,DE,LÃ¼beck,male,1929,Literature,"""principally for his great novel <I>Buddenbroo...",54.0
3,667,Octavio,Paz,1914-03-31,1998-04-19,Mexico,MX,Mexico City,male,1990,Literature,"""for impassioned writing with wide horizons ch...",76.0
4,670,Toni,Morrison,1931-02-18,2019-08-05,USA,US,Lorain OH,female,1993,Literature,"""who in novels characterized by visionary forc...",62.0
5,709,Robert W.,Fogel,1927-07-01,2013-06-11,USA,US,New York NY,male,1993,Economics,"""for having renewed research in economic histo...",66.0
6,1009,Guido,Imbens,1963-09-03,NaN,the Netherlands,NL,Geldrop,male,2021,Economics,"""for their methodological contributions to the...",58.0
7,227,John C.,Kendrew,1917-03-24,1997-08-23,United Kingdom,GB,Oxford,male,1962,Chemistry,"""for their studies of the structures of globul...",45.0
8,278,Kary B.,Mullis,1944-12-28,2019-08-07,USA,US,Lenoir NC,male,1993,Chemistry,"""for his invention of the polymerase chain rea...",49.0
9,418,Godfrey N.,Hounsfield,1919-08-28,2004-08-12,United Kingdom,GB,Newark,male,1979,Medicine,"""for the development of computer assisted tomo...",60.0

In [ ]:
#Re-ordering columns for some clarity
# Define the desired order of columns
new_column_order = ['Id', 'Firstname', 'Surname', 'Gender','Age', 'Born', 'Died','Year','Born country','Born country code','Born city','Category','Motivation']

# Reorder the columns
df = df[new_column_order]

df.head(10)

,Id,Firstname,Surname,Gender,Age,Born,Died,Year,Born country,Born country code,Born city,Category,Motivation
0,498,Sir Norman,Angell,male,61.0,1872-12-26,1967-10-07,1933,United Kingdom,GB,Holbeach,Peace,"""for having exposed by his pen the illusion of..."
1,518,Philip,Noel-Baker,male,70.0,1889-11-01,1982-10-08,1959,United Kingdom,GB,London,Peace,"""for his longstanding contribution to the caus..."
2,602,Thomas,Mann,male,54.0,1875-06-06,1955-08-12,1929,Germany,DE,LÃ¼beck,Literature,"""principally for his great novel <I>Buddenbroo..."
3,667,Octavio,Paz,male,76.0,1914-03-31,1998-04-19,1990,Mexico,MX,Mexico City,Literature,"""for impassioned writing with wide horizons ch..."
4,670,Toni,Morrison,female,62.0,1931-02-18,2019-08-05,1993,USA,US,Lorain OH,Literature,"""who in novels characterized by visionary forc..."
5,709,Robert W.,Fogel,male,66.0,1927-07-01,2013-06-11,1993,USA,US,New York NY,Economics,"""for having renewed research in economic histo..."
6,1009,Guido,Imbens,male,58.0,1963-09-03,NaN,2021,the Netherlands,NL,Geldrop,Economics,"""for their methodological contributions to the..."
7,227,John C.,Kendrew,male,45.0,1917-03-24,1997-08-23,1962,United Kingdom,GB,Oxford,Chemistry,"""for their studies of the structures of globul..."
8,278,Kary B.,Mullis,male,49.0,1944-12-28,2019-08-07,1993,USA,US,Lenoir NC,Chemistry,"""for his invention of the polymerase chain rea..."
9,418,Godfrey N.,Hounsfield,male,60.0,1919-08-28,2004-08-12,1979,United Kingdom,GB,Newark,Medicine,"""for the development of computer assisted tomo..."

In [ ]:
#viewing available gender data
df['Gender'].unique()

array(['male', 'female', 'org'], dtype=object)

In [ ]:
# removing data of 'organizations' winning the prize as it is irrelavent to the
# gender analysis of this study
row_to_drop = df['Gender']=='org'
df = df[~row_to_drop]
df.head(10)

,Id,Firstname,Surname,Gender,Age,Born,Died,Year,Born country,Born country code,Born city,Category,Motivation
0,498,Sir Norman,Angell,male,61.0,1872-12-26,1967-10-07,1933,United Kingdom,GB,Holbeach,Peace,"""for having exposed by his pen the illusion of..."
1,518,Philip,Noel-Baker,male,70.0,1889-11-01,1982-10-08,1959,United Kingdom,GB,London,Peace,"""for his longstanding contribution to the caus..."
2,602,Thomas,Mann,male,54.0,1875-06-06,1955-08-12,1929,Germany,DE,LÃ¼beck,Literature,"""principally for his great novel <I>Buddenbroo..."
3,667,Octavio,Paz,male,76.0,1914-03-31,1998-04-19,1990,Mexico,MX,Mexico City,Literature,"""for impassioned writing with wide horizons ch..."
4,670,Toni,Morrison,female,62.0,1931-02-18,2019-08-05,1993,USA,US,Lorain OH,Literature,"""who in novels characterized by visionary forc..."
5,709,Robert W.,Fogel,male,66.0,1927-07-01,2013-06-11,1993,USA,US,New York NY,Economics,"""for having renewed research in economic histo..."
6,1009,Guido,Imbens,male,58.0,1963-09-03,NaN,2021,the Netherlands,NL,Geldrop,Economics,"""for their methodological contributions to the..."
7,227,John C.,Kendrew,male,45.0,1917-03-24,1997-08-23,1962,United Kingdom,GB,Oxford,Chemistry,"""for their studies of the structures of globul..."
8,278,Kary B.,Mullis,male,49.0,1944-12-28,2019-08-07,1993,USA,US,Lenoir NC,Chemistry,"""for his invention of the polymerase chain rea..."
9,418,Godfrey N.,Hounsfield,male,60.0,1919-08-28,2004-08-12,1979,United Kingdom,GB,Newark,Medicine,"""for the development of computer assisted tomo..."

In [ ]:
#replacing null values with -
df.fillna('-', inplace= True)
df.head(10)

<ipython-input-29-3017804d6da5>:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('-', inplace= True)
<ipython-input-29-3017804d6da5>:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.fillna('-', inplace= True)

,Id,Firstname,Surname,Gender,Age,Born,Died,Year,Born country,Born country code,Born city,Category,Motivation
0,498,Sir Norman,Angell,male,61.0,1872-12-26 00:00:00,1967-10-07,1933,United Kingdom,GB,Holbeach,Peace,"""for having exposed by his pen the illusion of..."
1,518,Philip,Noel-Baker,male,70.0,1889-11-01 00:00:00,1982-10-08,1959,United Kingdom,GB,London,Peace,"""for his longstanding contribution to the caus..."
2,602,Thomas,Mann,male,54.0,1875-06-06 00:00:00,1955-08-12,1929,Germany,DE,LÃ¼beck,Literature,"""principally for his great novel <I>Buddenbroo..."
3,667,Octavio,Paz,male,76.0,1914-03-31 00:00:00,1998-04-19,1990,Mexico,MX,Mexico City,Literature,"""for impassioned writing with wide horizons ch..."
4,670,Toni,Morrison,female,62.0,1931-02-18 00:00:00,2019-08-05,1993,USA,US,Lorain OH,Literature,"""who in novels characterized by visionary forc..."
5,709,Robert W.,Fogel,male,66.0,1927-07-01 00:00:00,2013-06-11,1993,USA,US,New York NY,Economics,"""for having renewed research in economic histo..."
6,1009,Guido,Imbens,male,58.0,1963-09-03 00:00:00,-,2021,the Netherlands,NL,Geldrop,Economics,"""for their methodological contributions to the..."
7,227,John C.,Kendrew,male,45.0,1917-03-24 00:00:00,1997-08-23,1962,United Kingdom,GB,Oxford,Chemistry,"""for their studies of the structures of globul..."
8,278,Kary B.,Mullis,male,49.0,1944-12-28 00:00:00,2019-08-07,1993,USA,US,Lenoir NC,Chemistry,"""for his invention of the polymerase chain rea..."
9,418,Godfrey N.,Hounsfield,male,60.0,1919-08-28 00:00:00,2004-08-12,1979,United Kingdom,GB,Newark,Medicine,"""for the development of computer assisted tomo..."

In [ ]:
#looking for inconsistencies in the Country
df['Born country'].unique()

array(['United Kingdom', 'Germany', 'Mexico', 'USA', 'the Netherlands',
       'Iran', 'Egypt', 'British India (now Bangladesh)', 'Sweden',
       'France', 'Russia', 'British Mandate of Palestine (now Israel)',
       'Italy', 'New Zealand', 'Schleswig (now Germany)',
       'Russian Empire (now Azerbaijan)', 'Northern Ireland', 'Poland',
       'Ireland', 'Canada', 'Portugal', 'Japan', 'Ukraine', 'Scotland',
       'India', 'West Germany (now Germany)', 'Kenya', 'Finland',
       'Luxembourg', 'Switzerland', 'Belgium', 'Nigeria',
       'British West Indies (now Saint Lucia)', 'Liberia', 'Austria',
       'Norway', 'Argentina', 'Denmark', 'Australia',
       'Austrian Empire (now Austria)', 'Germany (now Poland)', 'Morocco',
       'Lithuania', 'Russian Empire (now Ukraine)', 'East Timor',
       'French Algeria (now Algeria)', 'Ottoman Empire (now Turkey)',
       'South Africa', 'Austria-Hungary (now Hungary)',
       'Russian Empire (now Finland)', 'Madagascar', 'Colombia',
       'Romania', 'Prussia (now Poland)', 'Spain',
       'Russian Empire (now Belarus)',
       'Bosnia (now Bosnia and Herzegovina)',
       'Russian Empire (now Russia)', 'China', 'Vietnam',
       'Austria-Hungary (now Czech Republic)', 'Hungary',
       'Korea (now South Korea)',
       'British Protectorate of Palestine (now Israel)',
       'Prussia (now Germany)', 'Peru',
       'Southern Rhodesia (now Zimbabwe)', 'Costa Rica', 'Bulgaria',
       'Prussia (now Russia)',
       'Belgian Congo (now Democratic Republic of the Congo)', 'Iraq',
       'Chile', 'Russian Empire (now Poland)', 'Lebanon',
       'Tibet (now China)', 'Guatemala', 'Austria-Hungary (now Austria)',
       'Hungary (now Slovakia)', 'WÃ¼rttemberg (now Germany)',
       'Persia (now Iran)',
       'French protectorate of Tunisia (now Tunisia)',
       'USSR (now Russia)', 'Cyprus', 'India (now Pakistan)',
       'Russian Empire (now Lithuania)', 'Venezuela', 'Turkey',
       'Austria-Hungary (now Poland)', 'Free City of Danzig (now Poland)',
       'Ethiopia', '-', 'Java Dutch East Indies (now Indonesia)',
       'Germany (now France)', 'Russian Empire (now Latvia)', 'Pakistan',
       'Austrian Empire (now Italy)', 'Burma (now Myanmar)',
       'Trinidad and Tobago', 'Poland (now Ukraine)',
       'Bavaria (now Germany)', 'British India (now India)',
       'Poland (now Lithuania)', 'German-occupied Poland (now Poland)',
       'Austrian Empire (now Czech Republic)', 'USSR (now Belarus)',
       'Faroe Islands (Denmark)', 'Crete (now Greece)',
       'Austria-Hungary (now Bosnia and Herzegovina)', 'Yemen', 'Iceland',
       'Mecklenburg (now Germany)', 'Philippines', 'Germany (now Russia)',
       'Brazil', 'Saint Lucia', 'Hesse-Kassel (now Germany)',
       'Austria-Hungary (now Slovenia)', 'Tuscany (now Italy)',
       'Austria-Hungary (now Ukraine)', 'Austria-Hungary (now Croatia)',
       'Taiwan', 'Czechoslovakia (now Czech Republic)',
       'East Friesland (now Germany)', 'Guadeloupe Island',
       'Gold Coast (now Ghana)', 'Ottoman Empire (now North Macedonia)',
       'Poland (now Belarus)'], dtype=object)

In [ ]:
#replace old Born country data with the current names

country_mapping = {
    'British India (now Bangladesh)': 'Bangladesh',
    'Schleswig (now Germany)': 'Germany',
    'Russian Empire (now Azerbaijan)': 'Azerbaijan',
    'West Germany (now Germany)': 'Germany',
    'British West Indies (now Saint Lucia)': 'Saint Lucia',
    'Austrian Empire (now Austria)': 'Austria',
    'Germany (now Poland)':'Poland',
    'Russian Empire (now Ukraine)': 'Ukraine',
    'French Algeria (now Algeria)': 'Algeria',
    'Ottoman Empire (now Turkey)':'Turkey',
    'Austria-Hungary (now Hungary)': 'Hungary',
    'Germany (now Switzerland)': 'Switzerland',
    'Russian Empire (now Finland)':'Finland',
    'Prussia (now Poland)':'Poland',
    'Russian Empire (now Belarus)':'Belarus',
    'Bosnia (now Bosnia and Herzegovina)':'Bosnia and Herzegovina',
    'Russian Empire (now Russia)':'Russia',
    'Austria-Hungary (now Czech Republic)':'Czech Republic',
    'Korea (now South Korea)':'South Korea',
    'Prussia (now Germany)':'Germany',
    'Southern Rhodesia (now Zimbabwe)':'Zimbabwe',
    'Prussia (now Russia)':'Russia',
    'Belgian Congo (now Democratic Republic of the Congo)': 'Democratic Republic of the Congo',
    'Russian Empire (now Poland)':'Poland',
    'Tibet (now China)':'China',
    'Austria-Hungary (now Austria)':'Austria',
    'Hungary (now Slovakia)':'Slovakia',
    'WÃ¼rttemberg (now Germany)':'Germany',
    'Persia (now Iran)':'Iran',
    'French protectorate of Tunisia (now Tunisia)':'Tunisia',
    'USSR (now Russia)':'Russia',
    'India (now Pakistan)':'Pakistan',
    'Russian Empire (now Lithuania)':'Lithuania',
    'Austria-Hungary (now Poland)':'Poland',
    'Free City of Danzig (now Poland)':'Poland',
    'Java Dutch East Indies (now Indonesia)':'Indonesia',
    'Germany (now France)':'France',
    'Russian Empire (now Latvia)':'Latvia',
    'Austrian Empire (now Italy)':'Italy',
    'Burma (now Myanmar)':'Myanmar',
    'Poland (now Ukraine)':'Ukraine',
    'Bavaria (now Germany)':'Germany',
    'British India (now India)':'India',
    'Poland (now Lithuania)':'Lithuania',
    'German-occupied Poland (now Poland)':'Poland',
    'Austrian Empire (now Czech Republic)':'Czech Republic',
    'USSR (now Belarus)':'Belarus',
    'Faroe Islands (Denmark)':'Denmark',
    'Crete (now Greece)':'Greece',
    'Austria-Hungary (now Bosnia and Herzegovina)':'Bosnia and Herzegovina',
    'Mecklenburg (now Germany)':'Germany',
    'Germany (now Russia)':'Russia',
    'Hesse-Kassel (now Germany)':'Germany',
    'Austria-Hungary (now Slovenia)':'Slovenia',
    'Tuscany (now Italy)':'Italy',
    'Austria-Hungary (now Ukraine)':'Ukraine',
    'Austria-Hungary (now Croatia)':'Croatia',
    'Czechoslovakia (now Czech Republic)':'Czech Republic',
    'East Friesland (now Germany)':'Germany',
    'Gold Coast (now Ghana)':'Ghana',
    'Ottoman Empire (now North Macedonia)':'North Macedonia',
    'Poland (now Belarus)':'Belarus',
    'POland': 'Poland'
}

df['Born country'] = df['Born country'].replace(country_mapping)
df.head(10)

,Id,Firstname,Surname,Gender,Age,Born,Died,Year,Born country,Born country code,Born city,Category,Motivation
0,498,Sir Norman,Angell,male,61.0,1872-12-26 00:00:00,1967-10-07,1933,United Kingdom,GB,Holbeach,Peace,"""for having exposed by his pen the illusion of..."
1,518,Philip,Noel-Baker,male,70.0,1889-11-01 00:00:00,1982-10-08,1959,United Kingdom,GB,London,Peace,"""for his longstanding contribution to the caus..."
2,602,Thomas,Mann,male,54.0,1875-06-06 00:00:00,1955-08-12,1929,Germany,DE,LÃ¼beck,Literature,"""principally for his great novel <I>Buddenbroo..."
3,667,Octavio,Paz,male,76.0,1914-03-31 00:00:00,1998-04-19,1990,Mexico,MX,Mexico City,Literature,"""for impassioned writing with wide horizons ch..."
4,670,Toni,Morrison,female,62.0,1931-02-18 00:00:00,2019-08-05,1993,USA,US,Lorain OH,Literature,"""who in novels characterized by visionary forc..."
5,709,Robert W.,Fogel,male,66.0,1927-07-01 00:00:00,2013-06-11,1993,USA,US,New York NY,Economics,"""for having renewed research in economic histo..."
6,1009,Guido,Imbens,male,58.0,1963-09-03 00:00:00,-,2021,the Netherlands,NL,Geldrop,Economics,"""for their methodological contributions to the..."
7,227,John C.,Kendrew,male,45.0,1917-03-24 00:00:00,1997-08-23,1962,United Kingdom,GB,Oxford,Chemistry,"""for their studies of the structures of globul..."
8,278,Kary B.,Mullis,male,49.0,1944-12-28 00:00:00,2019-08-07,1993,USA,US,Lenoir NC,Chemistry,"""for his invention of the polymerase chain rea..."
9,418,Godfrey N.,Hounsfield,male,60.0,1919-08-28 00:00:00,2004-08-12,1979,United Kingdom,GB,Newark,Medicine,"""for the development of computer assisted tomo..."

In [ ]:
#checking the change
df['Born country'].unique()

array(['United Kingdom', 'Germany', 'Mexico', 'USA', 'the Netherlands',
       'Iran', 'Egypt', 'Bangladesh', 'Sweden', 'France', 'Russia',
       'British Mandate of Palestine (now Israel)', 'Italy',
       'New Zealand', 'Azerbaijan', 'Northern Ireland', 'Poland',
       'Ireland', 'Canada', 'Portugal', 'Japan', 'Ukraine', 'Scotland',
       'India', 'Kenya', 'Finland', 'Luxembourg', 'Switzerland',
       'Belgium', 'Nigeria', 'Saint Lucia', 'Liberia', 'Austria',
       'Norway', 'Argentina', 'Denmark', 'Australia', 'Morocco',
       'Lithuania', 'East Timor', 'Algeria', 'Turkey', 'South Africa',
       'Hungary', 'Madagascar', 'Colombia', 'Romania', 'Spain', 'Belarus',
       'Bosnia and Herzegovina', 'China', 'Vietnam', 'Czech Republic',
       'South Korea', 'British Protectorate of Palestine (now Israel)',
       'Peru', 'Zimbabwe', 'Costa Rica', 'Bulgaria',
       'Democratic Republic of the Congo', 'Iraq', 'Chile', 'Lebanon',
       'Guatemala', 'Slovakia', 'Tunisia', 'Cyprus', 'Pakistan',
       'Venezuela', 'Ethiopia', '-', 'Indonesia', 'Latvia', 'Myanmar',
       'Trinidad and Tobago', 'Greece', 'Yemen', 'Iceland', 'Philippines',
       'Brazil', 'Slovenia', 'Croatia', 'Taiwan', 'Guadeloupe Island',
       'Ghana', 'North Macedonia'], dtype=object)

In [ ]:
#saving the cleaned data set
df.to_csv('cleaned_primary_data.csv', index=False)

In [ ]:
# a look at all the nobel prize categories
df['Category'].unique()

array(['Peace', 'Literature', 'Economics', 'Chemistry', 'Medicine',
       'Physics'], dtype=object)

In [ ]:
#pulling out STEM categories from the original data set to graph STEM speciic data
Stem_nobel=df[(df['Category']=='Physics') | (df['Category']=='Chemistry') | (df['Category']=='Medicine')]
Stem_nobel.head(10)

,Id,Firstname,Surname,Gender,Age,Born,Died,Year,Born country,Born country code,Born city,Category,Motivation
7,227,John C.,Kendrew,male,45.0,1917-03-24 00:00:00,1997-08-23,1962,United Kingdom,GB,Oxford,Chemistry,"""for their studies of the structures of globul..."
8,278,Kary B.,Mullis,male,49.0,1944-12-28 00:00:00,2019-08-07,1993,USA,US,Lenoir NC,Chemistry,"""for his invention of the polymerase chain rea..."
9,418,Godfrey N.,Hounsfield,male,60.0,1919-08-28 00:00:00,2004-08-12,1979,United Kingdom,GB,Newark,Medicine,"""for the development of computer assisted tomo..."
10,448,Richard J.,Roberts,male,50.0,1943-09-06 00:00:00,-,1993,United Kingdom,GB,Derby,Medicine,"""for their discoveries of split genes"""
11,743,Barry,Sharpless,male,81.0,1941-04-28 00:00:00,-,2022,USA,US,Philadelphia PA,Chemistry,"""for the development of click chemistry and bi..."
13,795,Robert H.,Grubbs,male,63.0,1942-02-27 00:00:00,2021-12-19,2005,USA,US,Possum Trot KY,Chemistry,"""for the development of the metathesis method ..."
17,162,Svante,Arrhenius,male,44.0,1859-02-19 00:00:00,1927-10-02,1903,Sweden,SE,Vik,Chemistry,"""in recognition of the extraordinary services ..."
18,175,Theodore W.,Richards,male,46.0,1868-01-31 00:00:00,1928-04-02,1914,USA,US,Germantown PA,Chemistry,"""in recognition of his accurate determinations..."
19,188,Hans,Fischer,male,49.0,1881-07-27 00:00:00,1945-03-31,1930,Germany,DE,Hoechst,Chemistry,"""for his researches into the constitution of h..."
20,189,Carl,Bosch,male,57.0,1874-08-27 00:00:00,1940-04-26,1931,Germany,DE,Cologne,Chemistry,"""in recognition of their contributions to the ..."

In [ ]:
#grouping data by category, year and gender
#creating a column called Winners to count and aggregate the data points
Stem_nobel = Stem_nobel.groupby(['Category', 'Gender','Year']).size().reset_index(name='Winners')
Stem_nobel.head(10)

    Category  Gender  Year  Winners
0  Chemistry  female  1911        1
1  Chemistry  female  1935        1
2  Chemistry  female  1964        1
3  Chemistry  female  2009        1
4  Chemistry  female  2018        1
5  Chemistry  female  2020        2
6  Chemistry  female  2022        1
7  Chemistry    male  1901        1
8  Chemistry    male  1902        1
9  Chemistry    male  1903        1

In [ ]:
#savng the cleaned data set
Stem_nobel.to_csv('stem_nobel_data.csv', index=False)

In [ ]:
# Group by 'Year' and 'Gender', then count the number of winners
subdf = df.groupby(['Year', 'Gender',]).size().reset_index(name='Winners')
subdf.head(10)

   Year  Gender  Winners
0  1901    male        6
1  1902    male        7
2  1903  female        1
3  1903    male        6
4  1904    male        5
5  1905  female        1
6  1905    male        4
7  1906    male        6
8  1907    male        6
9  1908    male        7

In [ ]:
# To add rows of data to showcase 'Gender' datapoints even when they don't win
#Create a list of all years in the dataset
years = sorted(subdf['Year'].unique())

# Create an empty list to store the rows for the new DataFrame
new_rows = []

# Apply for all the years
for year in years:
  # fnding all the rows for that year
  rows_for_year = subdf[subdf['Year'] == year]

  # checking if there's a row for female winners
  female_row = rows_for_year[rows_for_year['Gender'] == 'female']

  # If there's no row for female winners, add a new row with null values
  if female_row.empty:
    new_rows.append({'Year': year, 'Gender': 'female', 'Winners':0 })

#checking if there's a row for male winners
  male_row = rows_for_year[rows_for_year['Gender'] == 'male']

  #If there's no row for male winners, add a new row with null values
  if male_row.empty:
    new_rows.append({'Year': year, 'Gender': 'male', 'Winners':0 })

# Adding the new rows to new_subdf
new_subdf = pd.concat([subdf, pd.DataFrame(new_rows)])

# Sort the new DataFrame by 'Year' and 'Gender' for better visualization
new_subdf = new_subdf.sort_values(['Year', 'Gender'])

# Now 'new_subdf' contains rows for all years and both genders,
# with null values where there were no female winners in a specific year.
new_subdf.head(10)

   Year  Gender  Winners
0  1901  female        0
0  1901    male        6
1  1902  female        0
1  1902    male        7
2  1903  female        1
3  1903    male        6
2  1904  female        0
4  1904    male        5
5  1905  female        1
6  1905    male        4

In [ ]:
#download newdf
new_subdf.to_csv('cleaned_count_data.csv', index=False)

In [ ]:
# Group by 'Year' and 'Gender', then count the number of winners
catdf = df.groupby(['Gender','Category']).size().reset_index(name='Winners')

#Adding 0 in the years female didn't count anything


catdf.head(10)

   Gender    Category  Winners
0  female   Chemistry        8
1  female   Economics        3
2  female  Literature       17
3  female    Medicine       13
4  female       Peace       19
5  female     Physics        5
6    male   Chemistry      186
7    male   Economics       90
8    male  Literature      103
9    male    Medicine      214

In [ ]:
subdf.to_csv('cleaned_catgender_data.csv', index=False)